h1, h2, h3, p {
    font-family: 'Open Sans', sans-serif;
}

ul > li > a {
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    color: #FFF;
    font-size: 1em;
    text-transform: uppercase;
}

h1 {
    font-weight: 800;
}

h3 {
    font-weight: 800;
}

p {
    font-weight: 400;
}

h1[class='about'] {
    color: #00CABA;
    text-transform: uppercase;
    font-size: 1em;
    padding-top: 49px;
}

h3[class='about'] {
    color: #00CABA;
}

p[class='about'] {
    color: #00CABA;
}

h3[class='work'] {
    color: #0BE293;
}

p[class='work'] {
    color: #0BE293;
}

h1[class='work'] {
    color: #0BE293;
    text-transform: uppercase;
    font-size: 1em;
    padding-top: 49px;
}

.header {
    background-color: #00CACB;
    padding-top: 80px;
    padding-bottom: 80px;
}

.conatiner{
    margin-left: auto;
    margin-right: auto;
}

#about {
    height: 398px;
    position: relative;
}

#logo {
    width: 100%;
}

#logodiv{
    height: 6px;
}

#lineOne{
    height: 5px;
    width: 60px;
}

#lineTwo{
    height: 5px;
    width: 60px;
}

#headerImage {
    display: block;
    margin: 0 auto;
    padding-top: 20px;
}

#aboutImage {
    display: block;
    margin: 0 auto;
    padding-top: 49px;
}
